<?xml version="1.0" encoding="UTF-8"?>

<!-- log4j2.xml -->

<Configuration status="WARN">
    <Properties>
        <Property name="logNm">dpsort</Property>
        <Property name="layoutPattern">
            %d{yyyy-MM-dd HH:mm:ss.SSS} %highlight{${LOG_LEVEL_PATTERN:-%5p}}{FATAL=red, ERROR=red, WARN=yellow, INFO=green, DEBUG=green, TRACE=green} --- [%15.15t] %style{%-40.40c{1.}}{cyan} : %m%n%ex
        </Property>
    </Properties>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${layoutPattern}" />
        </Console>
        <RollingFile name="file" fileName="./log/${logNm}.log" filePattern="./log/logs/${logNm}_%d{yyyy-MM-dd}_%i.log">
            <PatternLayout pattern="${layoutPattern}" />
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB" /> <!-- 이 용량이 초과되면 아래 DefaultRolloverStrategy 정책만큼 넘버링 할거다. -->
            </Policies>
            <DefaultRolloverStrategy max="1000" fileIndex="min" />
        </RollingFile>
    </Appenders>
    <Loggers>
        <root level="debug" additivity="false" >
            <appender-ref ref="console" />
            <appender-ref ref="file" />
        </root>
        <logger name="dpsort" level="trace" additivity="false" >
            <appender-ref ref="console" />
            <appender-ref ref="file" />
        </logger>
        <logger name="io.netty" level="info" additivity="false" >
            <appender-ref ref="console" />
            <appender-ref ref="file" />
        </logger>
        <logger name="io.grpc" level="info" additivity="false" >
            <appender-ref ref="console" />
            <appender-ref ref="file" />
        </logger>
    </Loggers>
</Configuration>

<!-- TODO to control log level to for netty -->
